.Home-main {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  ;
  border-radius: 3rem;
  text-align: center;
  justify-content: center;
  width: 50rem;
  margin: 15rem;
  background-color: rgb(229, 123, 217);
}

.Home-inp {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  border-color: rgb(226, 13, 216);

}

.Home-app {
  text-align: center;
  font-size: 2rem;
  color: rgb(41, 48, 54);
}

.Home-btn {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  align-items: center;
  height: 5rem;
 
}
.del:hover{
  color: rgb(239, 53, 53);
  cursor: pointer; 
}
.edit:hover{
  color: darkgrey;
  cursor: grab;
}
.check:hover{
color: aqua;

}
.Home-showData {
  justify-content: space-between;
   margin-left: 5rem; 
   margin-right: 5rem;

}
.active {
  background-color: black;
  color: white;

}
.Home-Todo{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.Home-Todo-item{
  border-radius: 1rem;
  background-color: rgb(236, 182, 233) ; 
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: auto;
}