.Home-main{
  border: 2px solid black;
  border-radius: 5px ;
  text-align: center;
  justify-content: center;
  width: 60rem;
  margin: 15rem;
  background-color: rgb(158, 218, 218);
}
.Home-inp{
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 10rem;
  height: 2rem;
  text-align: center;
}